<a href="https://colab.research.google.com/github/bujang-Lee/-/blob/bujang-Lee-patch-1/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 라이브러리 불러오기
import tensorflow as tf
import pandas as pd

In [3]:
# 데이터 준비하기
file_link = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
boston = pd.read_csv(file_link)
print(boston.columns)
boston.head()

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [8]:
# 독립, 종속 변수 분리
invariable = boston[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax', 'ptratio', 'b', 'lstat']]
devariable = boston[['medv']]
print(invariable.shape, devariable.shape)

(506, 13) (506, 1)

In [9]:
# 모델 제작
X = tf.keras.layers.Input(shape=13)
Y = tf.keras.layers.Dense(1)(X)
model = tf.keras.models.Model(X, Y)
model.compile(loss='mse')

In [16]:
# 모델 학습
model.fit(invariable, devariable, epochs=1000, verbose=0)
model.fit(invariable, devariable, epochs=1)

16/16 [==============================] - 0s 1ms/step - loss: 22.8073

In [17]:
# 모델 이용
model.predict(invariable[0:5])

array([[29.47759 ],
       [24.429684],
       [30.49714 ],
       [28.82881 ],
       [28.307404]], dtype=float32)

In [18]:
# 종속 변수 확인
devariable[0:5]

   medv
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2

In [19]:
# 모델의 수식 확인 
model.get_weights()

[array([[-1.0061645e-01],
        [ 4.7968820e-02],
        [-6.9158268e-04],
        [ 2.6130211e+00],
        [-1.0272365e+01],
        [ 4.5750566e+00],
        [-5.3107161e-03],
        [-1.2743318e+00],
        [ 2.4940374e-01],
        [-1.1806126e-02],
        [-7.3063123e-01],
        [ 1.0928363e-02],
        [-4.9355382e-01]], dtype=float32), array([22.164497], dtype=float32)]